# Node dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Optional: test files or local data
test.http
data.js
